[data-component-auth-button] {
  .test {
    padding: 0;
  }
  .ant-card-body {
    padding: 0;
    .ant-card-meta {
      width: 100px;
      .ant-card-meta-avatar {

      }
      .ant-card-meta-detail {

      }
    }
  }
}