$theme-primary: #5FB6B9;
$theme-second: #f0f2f5;

$text-dark-primary: #35383F;
$text-dark-second: #00000073;

$border-radius-mini: 2px;
$border-radius-small: 4px;
$border-radius-large: 12px;

$base-font-family: PingFang SC,Helvetica, sans-serif,SF Pro SC,SF Pro Text,SF Pro Icons,Helvetica Neue,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';